<div class="character-details">
    <a href="/character/{{id}}"></a>
    <div class="card-body char-card">
        <div class="p-2"><img src="{{avatar}}"></div>
        <div>
            <h2>{{name}}</h2>
            <h5>ilvl: {{ilvl}} </h5>
            <h5>Role: {{role}}</h5>
            <h5>Class: {{char_class}}</h5>
            <h5>Spec: {{spec}}</h5>
            <h5>Current m+ Score: {{current_m_score}}</h5>
        </div>
    </div>
    </a>
</div>