{{!-- 
<div class="col-sm mx-auto">
    <div class="card-sitting-out">
      <img src="../images/placeholder.png" class="card-img-left-sidebar placeholder" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">Sitting out: </h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>
  <div class="column mx-auto">
    <div class="empty">
    </div>
  </div>
  <div class="column mx-auto">
    <div class="tank">
      <img src="../images/tank.png" class="card-img-top placeholder" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">Tank:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>
  <div class="column mx-auto">
    <div class="empty">
    </div>
  </div> --}}
  <h1 class="center">{{team.name}}'s Team</h1>
<div class="login-card box">
  <h2 class="page-title">Add Teammate</h2>
  <form class="form new-teammate">
    <div class="form-group center1">
      <label for="name-input">Enter Teammates's name:</label><br>
      <input class="form-input" type="text" id="name-input" />
    </div>

    <select class="form-select form-select-lg mb-3 long" id="region-input" aria-label=".form-select-lg example">
      <option selected>Their Region</option>
      <option value="us">Americas</option>
      <option value="eu">Europe</option>
      <option value="kr">Korea</option>
      <option value="tw">Taiwan</option>
    </select>
    
    <input class="form-control long" list="datalistOptions" id="realm-input" placeholder="Their Realm">
     <div class="form-group center1">
      <button class="btn btn-primary new-teammate" type="submit">Add Teammate</button>
      <br><br>
    </div>
  </form>
    {{!-- {{#if teams}} --}}
  <section>
    <div>
      {{#each team.teammates }}

     <div class="column mx-auto">
    <div class="healer">
      <img src="{{avatar}}" class="card-img-top placeholder" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h5 class="card-text">Role: {{role}} </h5>
      </div>
    </div>
  </div>
   <div class="column mx-auto">
    <div class="team">
        <h5 class="card-title">Class: {{char_class}}</h5>
        <h5 class="card-text">Ilvl:{{ilvl}} </h5>
    </div>
  </div>
      {{/each}}
    </div>
  </section>
  {{!-- {{/if}} --}}

  <script src="/js/teammate-add.js"></script>
 {{!-- <div class="col-sm mx-auto">
    <div class="card-sitting-out">
      <img src="../images/placeholder.png" class="card-img-left-sidebar placeholder" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">Sitting out: </h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>

  <div class="column mx-auto">
    <div class="healer">
      <img src="../images/healer.png" class="card-img-top placeholder" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">Healer:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>
   <div class="column mx-auto">
    <div class="team">
        <h5 class="card-title">Guild Name:</h5>
        <p class="card-text">Stats: </p>
    </div>
  </div>

<div class="column mx-auto">
    <div class="dps">
      <img src="../images/dps.png" class="card-img-top placeholder" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">DPS:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>

  <div class="col-sm mx-auto">
    <div class="empty">
    </div>
  </div>

<div class="column mx-auto">
    <div class="dps">
      <img src="../images/dps.png" class="card-img-top placeholder" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">DPS:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>
   <div class="column mx-auto">
    <div class="empty">
    </div>
  </div>

<div class="column mx-auto">
    <div class="dps">
      <img src="../images/dps.png" class="card-img-top placeholder" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">DPS:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div> --}}

